<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add A New User</h1>
    <form action="/user/new" method="post">
        {% csrf_token %}
        <p>
            Name:
            <input type="text" name="name" id="">
        </p>
        <p>
            Email:
            <input type="email" name="email" id="">
        </p>
        <p>
            Password:
            <input type="password" name="password" id="">
        </p>
        <button type="submit">Create</button>
    </form>
    <div>
        <table>
            <thead>
                <td>ID</td>
                <td>Name</td>
                <td>Email</td>
                <td>Action</td>
            </thead>
            <tbody>
                {% for user in all_users %}
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <a href="/users/{{user.id}}">View</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>