<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .post{
        border: 1px solid black;
        margin-left: 5px;
    }
</style>
<body>
    <h1>New User</h1>
    <form action="/process/user" method="post">
        {% csrf_token %}
        <p>
            Name:
            <input type="text" name="name" id="">
        </p>
        <p>
            Email:
            <input type="email" name="email" id="">
        </p>
        <p>
            Password:
            <input type="password" name="password" id="">
        </p>
        <button type="submit">Create User</button>
    </form>
    <h1>New Post</h1>
    <form action="/process/post" method="post">
        {% csrf_token %}
        <p>
            Title:
            <input type="text" name="title" id="">
        </p>
        <p>
            Content:
            <textarea name="content" id="" cols="30" rows="10"></textarea>
        </p>
        <p>
            Post Creator:
            <select name="user_id" id="">
                {% for user in all_users %}
                    <option value="{{user.id}}">{{user.name}}</option>
                {% endfor %}
            </select>
        </p>
        <button type="submit">Create Post</button>
    </form>
    <hr>
    <div>
        {% for user in all_users %}
            <h3>{{user.name}} - {{user.email}}</h3>
            {% for post in user.posts.all %}
                <div class="post">
                    <h5>{{post.title}}</h5>
                    <p>{{post.content}}</p>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</body>
</html>