<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Dashboard</h1>
        <table class="table table-dark">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Title</td>
                    <td>Network</td>
                    <td>Release Date</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                {% for show in all_shows %}
                <tr>
                    <td>{{show.id}}</td>
                    <td>{{show.title}}</td>
                    <td>{{show.network}}</td>
                    <td>{{show.release_date}}</td>
                    <td>
                        {% if request.session.user_id == show.creator.id %}
                            <a href="/shows/{{show.id}}">Show</a>
                            <a href="/shows/{{show.id}}/edit">Edit</a>
                            <a href="/shows/{{show.id}}/delete">Delete</a>
                        {% else %}
                            <a href="/shows/{{show.id}}">Show</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>