<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World</h1>
    <h1>Regsiter</h1>
    <form action="/process" method="post">
        {% csrf_token %}
        <input type="hidden" name="which_form" value="register">
        <p>
            Username:
            <input type="text" name="username" id="">
        </p>
        <p>
            Password:
            <input type="password" name="password" id="">
        </p>
        <p>
            Confirm Password:
            <input type="confirm_password" name="confirm_password" id="">
        </p>
        <button type="submit">Register</button>
    </form>
    <h1>Login</h1>
    <form action="/process" method="post">
        {% csrf_token %}
        <input type="hidden" name="which_form" value="login">
        <p>
            Username:
            <input type="text" name="username" id="">
        </p>
        <p>
            Password:
            <input type="password" name="password" id="">
        </p>
        <button type="submit">Login</button>
    </form>
</body>
</html>