<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>City: {{weather.name}}</h1>
    <h1>Longitude: {{weather.coord.lon}}</h1>
    <h1>Latitude: {{weather.coord.lat}}</h1>

    <h2>Current Temp: {{weather.main.temp}} F</h2>
    <h2>Min: {{weather.main.temp_min}} F</h2>
    <h2>Max: {{weather.main.temp_max}} F</h2>
</body>
</html>