<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create A User</h1>
    <form action="/user/create" method="post">
        {% csrf_token %}
        <p>
            Name:
            <input type="text" name="name" id="">
        </p>
        <p>
            Email:
            <input type="text" name="email" id="">
        </p>
        <p>
            Password:
            <input type="text" name="password" id="">
        </p>
        <button type="submit">Create User</button>
    </form>
    <div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in all_users_from_db %}
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td>
                            <a href="/user/{{user.id}}">View</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>