<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <h1>Dashboard</h1>
    <table class="table table-dark">
        <thead>
            <tr>
                <td>ID</td>
                <td>Title</td>
                <td>Release Date</td>
                <td>Duration</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for movie in all_movies %}
                <tr>
                    <td>{{movie.id}}</td>
                    <td>{{movie.title}}</td>
                    <td>{{movie.release_date}}</td>
                    <td>{{movie.duration}} mins</td>
                    <td>
                        <a href="/movies/{{movie.id}}">Show</a>
                        <a href="/movies/{{movie.id}}/edit">Edit</a>
                        <a href="/movies/{{movie.id}}/delete">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>